/*----------- index 2.html --------------*/

:root {
    --breadcrumb-color: white; /* Cor do breadcrumb */
    --background: rgb(54, 92, 140);
}

body {
    font-family: Verdana, sans-serif;
    background-color: var(--background);
    font-size: 19px;
  }

/*----BREADCRUMB-----*/
nav[aria-label="breadcrumb"] ol {
    display: flex;  
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav[aria-label="breadcrumb"] li+li:before {
    content: ">";
    padding: 0 0.5vw;
    color:var(--breadcrumb-color);
  }
  
  nav[aria-label="breadcrumb"] a {
    color:var(--breadcrumb-color);
    text-decoration: none;
  }
  
  nav[aria-label="breadcrumb"] li {
    padding: 0.5vw 0;
  }

  /*---- MAIN ------*/

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 /*---- HOME ------*/
  .card{
    position:relative;
    background-color: white;
    padding: 4.5vw 3vw;
    width: 20%;
    border-radius: 2vw;
    margin-top: 3vw;
  }

  #card-title{
    width: 20vw;
    font-weight:100;
    font-size: large;
    text-align:center;
    margin-top: 3vw;
  }

  .card-image{
    width: 20vw;
    border-radius: 2vw;
  }

  #screen-reader-page-btn {
    margin-top: 1em; /* Espaço entre o card e o botão */
    font-size: large; /* Mesmo tamanho de fonte do título */
    border-radius: 1vw;
    padding: 1vw;
    cursor: pointer;

    color: var(--background);
    background-color: white;
    border: 2px solid var(--background);
    }

    #screen-reader-page-btn:hover{
        background-color: var(--background);
        color: white;
        border: 2px solid white;
    }

 /*---- READER 1 ----------------*/

.reader-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}


.card-text {
  text-align: center;
  margin: 10px 0;
  max-width: 600px;
  font-size: 19px;
  line-height: 1.5;
  color: white;
}


#link-text {
  margin-top: 20px;
}

section{
  position:relative;
}

.button-container {
  position:absolute;
  bottom:2vw;
  display: flex;
  gap: 15px; 
  align-items: center;
  margin-top: 20px;
}

/*tamanhos dos botões*/
button img,a img {
  width: 60px; 
  height: 60px;
  cursor: pointer;
}

button {
  border: none;
  background: none;
  padding: 0;
}

/*-------- READER 2 -----------*/

/*---FULL CARD---*/
.full-card{
  width: 60%;
  margin-bottom: 5%;;
}

#full-card-title{
  color: white;
  width:100%;
  text-align: left;
}

.full-card-content > p{
  display: inline;
  margin: 0 auto;
  line-height: 2vw;
  font-size: 16px;
}


/*--Text-to-Speech--*/
.highlight {
  border-radius: 5px;
  padding: 2px;
  font-weight: 600;
  background-color: #e0f7fa;
  color:black;
}

#full-card-title.highlight{
  color:black;
}


/*-----------Footer------------------*/
footer{
  position:absolute;
  bottom:0.5vw;
  display: block;
  width: 99%;
  height: 1vw;
}

#back-btn{
  position:absolute;
  left:1vw;
  bottom:0;
}
#settings{
  position:absolute;
  right:1vw;
  bottom:0;
}

#settings.btn-pressed{
filter:opacity(0.5);
}

/*POP-UP DAS SETTINGS*/
.reader-settings {
  visibility: hidden;
  display: flex;
  flex-direction: column; 
  gap: 5px; 
  background-color: #B6D3F2;
  border-radius: 1vw;
  padding: 1vw;
  width: 12%;

  position: absolute;

  right: 2vw;
  bottom:5vw;
}
.reader-settings.active {
  visibility: visible;
}

.reader-settings > h2, .reader-settings > h1 {
  font-size: 20px;
  text-align: center;
}

#menos-tamanho{
  font-size: 19px;
}
#mais-tamanho{
  font-size: 30px;
}


/* Layout de duas colunas */
.reader-settings .button-group {
  display: flex;
  justify-content: space-between; /* Botões nas extremidades */
  gap: 10px; /* Espaço entre os botões */
}

/* Botões padrão */
.reader-settings button {
  background: var(--background);
  color: white;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

/* Botão com largura dupla */
.reader-settings > button.double-width {
  width: 100%;
  height: inherit;
  padding: 1vw;
  text-align: center;
  color: var(--background);
  background-color: white;
  border: 2px solid var(--background);

}

.reader-settings button:hover{
  background-color: white;
  color: var(--background);
  border: 2px solid var(--background);
}
.reader-settings button.double-width:hover{
  background-color: var(--background);
  color: white;
}

:focus {
  outline: 5px solid  red; /* Cor verde e espessura de 2px */
  outline-offset: 4px; /* Distância do contorno em relação ao elemento */
}


.reader-settings > #card-link{
  color: black;
}