
/*------------ CSS Desktop ------------------*/

body {
    font-family: Verdana, sans-serif;
    background-color: rgb(54, 92, 140);
  }

.card{
    display: flex;
    background-color: white;
    padding: 3%;
    border-radius: 2vw;
    width: 80%;
    margin: 2vw auto;
}

.card-image{
    width: 80%;
    border-radius: 2vw;
    margin: auto;
}

.card-title{
    width: 90%;
}

p{
    display: inline;
    margin: 0 auto;
    line-height: 2vw;
    
}

.card-content{
    position: relative;
    width:50%;
}

#text-box{
    padding-left: 5vw;
    width: 45%;
}

.card-content:nth-child(2){
    background-color: rgb(221, 19, 150);
}

.vertical-line {
    width: 1px;
    background-color: rgb(54, 92, 140);
    height: auto;
}

/*--Text-to-Speech--*/
.highlight {
    border-radius: 5px;
    padding: 2px;
    font-weight: 600;
    background-color: #e0f7fa;
}



/*----------- index 2.html --------------*/

/*BREADCRUMB*/

nav[aria-label=”breadcrumb”] ol {
    display: flex;  
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav[aria-label=”breadcrumb”] li+li:before {
    content: ">";
    padding: 0 0.5vw;
  }
  
  nav[aria-label=”breadcrumb”] a {
    color: #007BFF;
    text-decoration: none;
  }
  
  nav[aria-label=”breadcrumb”] li {
    padding: 0.5vw 0;
  }